@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-400 bg-black-for-content;
    font-family: 'Poppins', sans-serif;
  }
}

.swiper-pagination-bullet-active {
  background-color: #dc2626 !important;
}

@layer utilities {
  .navside-anchor {
    @apply font-semibold text-white hover:opacity-60;
  }
  .views-conrtainer {
    @apply container mx-auto w-full p-8 bg-black-for-content h-screen overflow-scroll;
  }

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .show-card {
    @apply absolute text-white bottom-0 right-0 left-0 h-[80%] rounded-lg p-3 m-2 bg-gradient-to-t from-black to-black-for-card opacity-80 overflow-hidden translate-y-72 group-hover:-translate-y-0 group-hover:block group-hover:transition group-hover:duration-300 group-hover:ease-in-out;
  }

  .gradient {
    background-image: linear-gradient(
      to left,
      rgba(7, 7, 7, 0),
      rgba(7, 7, 7, 8)
    );
  }

  .title {
    @apply mt-10 mb-6 text-white font-semibold text-sm;
  }
}
